/* global style */

h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 2rem;
}

button {
  margin-top: 2rem;
  padding: 13px;
  background-color: rgb(74, 111, 184);
  margin-bottom: 2rem;
  margin-right: 1rem;
}

input {
  margin-left: 1rem;
  margin-top: 2rem;
  padding: 13px;
  background-color: rgb(59, 101, 185);
  color: white;
  font-size: large;
  text-align: center;
}

/* header component */

.head {
  align-items: center;
  background-color: rgb(149, 167, 167);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}

/* nav component */

.nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(70, 73, 71);
  flex-direction: row;
  text-align: center;
  align-items: center;
  color: white;
  line-height: 2rem;
}
.nav li {
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-decoration-color: rgb(239, 233, 232);
  text-decoration-thickness: 3px;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(70, 73, 71);
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.nav-links li {
  margin-right: 25px;
}
.nav-links a:visited {
  color: white;
}
.nav-links a:hover {
  color: rgb(141, 193, 192);
}

/* footer component */

.footer {
  align-items: center;
  background-color: rgb(122, 121, 127);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: cursive;
  padding: 0.5rem;
}

/* home component */

.home h1 {
  text-align: center;
}
.home img {
  width: 100%;
}
.home p {
  padding: 1rem;
  line-height: 2.5rem;
  text-align: left;
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: large;
}

/* meals component */

.meals input {
  display: block;
  align-items: center;
  padding: 10px;
  margin: 2rem auto;
  font-size: larger;
  background-color: rgb(156, 199, 221);
  color: rgb(25, 24, 24);
  text-align: center;
  font-weight: 700;
}
.allMeals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(245, 163, 212);
 
}
.mealTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
 /* padding: 2rem; */
  padding: 15px;
  width: 28%;

}
.addMeal {
  display: block;
  text-align: center;
  align-items: center;
}
.fancy-border img {
  width: 100%;
  border-radius: 50%;
}
.addDeleteMeal{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* contact component */

.contact-all {
  display: flex;
  flex-direction: row;
}
.contact-all img {
  height: 100%;
}
.contact {
  width: 60%;
  background: rgba(179, 34, 23, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  flex-wrap: wrap;
}
.contact h3 {
  border-bottom: 4px solid rgb(10, 10, 10);
}

/* fancy-border */

.fancy-border {
  border: 10px solid rgb(242, 216, 235);
  margin-top: 2rem;
  background-color: rgb(242, 124, 175);
  border-radius: 15%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px auto;
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* reservation component */

.reservations img {
  width: 100%;
}
.reservations {
  background-color: rgb(226, 177, 177);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.reservations h1 {
  padding: 2rem;
  line-height: 5rem;
  font-weight: 900;
  letter-spacing: 1rem;
}
.reservation {
  color: white;
  background-color: rgb(207, 90, 172);
  flex-direction: column;
  margin: 2rem;
  width: 100%;
  text-align: center;
  padding: 2rem 2rem 0 2rem;
  border-radius: 20%;
  letter-spacing: 0.1rem;
}

/* review component */

.review img {
  width: 100%;
  height: 400px;
}

.addReviews {
  margin-bottom: 2rem;
  margin-left: 0;
}
.addreview {
  display: flex;
  flex-direction: column;
}

/* Mealspecific add reservation component */

.mealInfo,
mealSpecificTitle {
  background-color: rgb(120, 81, 120);
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: rgb(176, 169, 176);
  text-decoration-thickness: 3px;
  line-height: 3rem;
}
.mealSpecificTitle{
  background-color: rgb(241, 98, 210);
}

.mealInfo {
  align-items: center;
  text-align: center;
}
.mealInfo a:visited {
  color: white;
}
.dispayReservation {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
  background-color: rgb(76, 73, 73);
  padding: 15px;
  border: 3px solid orangered;
  margin-bottom: 2rem;
}
.mealspecific img {
  width: 100%;
  height: 450px;
}

.reservationForm {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
  background-color: rgb(76, 73, 73);
  width: 100%;
  padding: 15px;
  border: 3px solid orangered;
  margin-bottom: 2rem;
  justify-content: space-around;
  text-align: center;
}

/* addMeal component */

.formMeal {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgb(78, 86, 87);
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  align-items: center;
  font-size: larger;
  font-weight: 700;
  padding-bottom: 5rem;
}
.formMeal input {
  width: 200px;
  margin-bottom: 2rem;
  margin-left: 2rem;
  padding: 5px;
}

.formMeal textarea {
  width: 100%;
  font-size: larger;
}

/* review component */

.addreview {
  display: flex;
  flex-direction: column;
  background-color: rgb(139, 95, 112);
  background-image: url("https://img.freepik.com/free-vector/restaurant-background-template_23-2147501815.jpg?w=2000");
  padding: 25px;
  align-items: center;
  text-align: center;
  color: white;
  font-size: large;
  font-weight: 600;
}
.addreview input {
  margin-bottom: 1rem;
}
.reviewSpecific {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-image: url("http://breezyoakvillas.com/breezy_oak_villas/wp-content/uploads/2017/03/5-Star-Reviews.png"); */
}
.reviewspecificImg{
  width: 100%;
  background-color: rgb(209, 114, 218);
  padding-bottom: 2rem;
}
.reviewSpecific img{
  width: 30%;
  display: block;
  margin: 0 auto;
}
.reviewSpecificInner {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 25px;
  border-radius: 35px;
  text-align: center;
  width: 30%;
  margin-top: 2rem;
  background-color: rgb(222, 80, 151);


}

/* delete component */
.deleteComponent{
  background-color: rgb(161, 219, 200)  ;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.deleteComponent img{
  width: 100%;
}

/* small screen make it responsive */

@media screen and (max-width: 700px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }
  .nav p {
    width: 100%;
  }
  .allMeals {
    flex-direction: column;
  }
  .mealTitle {
    width: 90%;
    margin: 0 auto;
  }
  .contact-all {
    flex-direction: column;
  }

  .contact {
    width: 100%;
  }
  .reservations img {
    height: auto;
  }
  .mealInfo {
    padding: 15px;
  }
  .formMeal {
    padding: 15px;
  }
  .reviewSpecific {
    flex-direction: column;
  }
  .reviewSpecificInner {
    width: 90%;
    margin: 2rem auto;
  }
}
